body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;


}
h1{
  margin-top: 0;
  font-size:  6rem;
  color:  #66BFBF;
  font-family: 'Sacramento', cursive;

}
h2{

    font-family: 'Montserrat', sans-serif;
    color:  #66BFBF;
    padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
color:  #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
#pr{
  color: #336d88;
  font-size: 1.4rem;
  font-weight: normal;
}
p{
    line-height: 2;
}
.Intro{
  width: 35%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.ps{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.web-des{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.top-container{
          background-color: #E4F9F5;
          position: relative;
          padding-top: 100px;
}
.middle-container{
padding: 100px;
margin: 100px 0;

}
.bottom-container{
background-color:  #66BFBF;
padding: 50px 0 20px;
}
.Coppyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

  hr{

    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
.contact-message{
  width: 45%;
  margin: 40px auto 70px;
}
.prpic{
  width: 200px;
  height: 200px;
}
.top-cloud{
  width: 175px;
    height: 120px;
    position: absolute;
    right: 200px;
    top: 50px:
}
.mountain{
  width: 900px;
  height: 500px;
}
.bottom-cloud{
  width: 175px;
 height: 120px;
 position: absolute;
 left: 200px;
 bottom: 500px;
}

.btn {
  	box-shadow:inset 0px 1px 0px 0px #276873;
  	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  	background-color:#599bb3;
  	border-radius:6px;
  	border:1px solid #29668f;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #3d768a;
  }


.btn:hover {
  background:linear-gradient(to bottom, #d1d1d1 5%, #33bdef 100%);
	background-color:#d1d1d1;
}
